html,
body{
    box-sizing: border-box;
    position: relative;
}

body{
    min-height: 100vh;
    display: flex;
    flex: 1;
}
*,
*:before,
*:after{
    box-sizing: inherit;
    max-width: 100%;
    margin: 0;
}

.project-form{
    position: absolute;
    background-color: white;
    top: 32px;
    left: 50%;
    display: grid;
}

.project-cell{
    border: 2px solid black;
    font-size: 1.1rem;
}

.to-do-list{
    font-size: 1rem;
}

.to-do{
    border: 1px solid black;
}